.container-cadastro{
    margin: 0 auto;
    width: 60vw;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
    
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.container-cadastro form {
    display: flex;
    width: 80vh; 
    flex-direction: column;
    gap: 10px;
}

.container-cadastro input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}
.form-cadastro Button{
    margin-top: 2rem;
    margin-bottom: 2rem;
}


@media (max-width: 768px) {
   .container-cadastro{
    width: 80vw;   
}
    .container-cadastro form{
    width: 80vw;
   } 
}